.component {
	position: absolute;
	
    width: 100vw;
	height: 100vh;

    z-index: 20;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	
    background-color: rgba(0, 0, 0, 0.452);

	.modal-content {
		min-width: 300px;

		text-align: center;
		background-color: #3c3f58;
		padding: 20px;

		border-radius: 10px;
		border: 2px solid #5558773a;
	}

	img {
		width: 200px;
	}

	button {
		width: 100%;

		background-color: #3bba9c;
		color: white;

		margin-top: 10px;
		padding: 10px;
		cursor: pointer;
		
        border-radius: 5px;
		border: none;
		outline: none !important;


		transition: all 0.1s ease-in-out;
		&:hover {
			filter: brightness(1.1);
		}
	}

	input {
		width: 100%;

		color: white;
		background-color: #222630;
		
        border-radius: 5px;
		padding: 10px;
		border: 1px solid #212530;
		outline: none !important;
		box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);

		transition: all 0.1s ease-in-out;

		&:focus {
			border: 1px solid #5294e2;
		}
	}
}

@media screen and (max-width: 720px) {
	.component {
		.modal-content {
			width: 85%;
		}
	}
}
