.component {
	.navbar {
		.top-navbar {
			display: flex;
			justify-content: space-between;
			align-items: center;

			background-color: #43455c;
			user-select: none;
			padding: 10px 20px 10px 20px;

			.branding {
				p,
				h1 {
					margin: 0;
				}

				p {
					color: rgb(223, 223, 223);
				}
			}

			.navbar-menu-trigger {
				width: 300px;

				display: flex;
				align-items: center;
				justify-content: space-between;

				padding: 10px;
				background-color: #43455c;

				border: 2px solid #515470;
				border-radius: 10px;

				cursor: pointer;

				p {
					margin: 0;
				}
			}

			.navbar-menu {
				position: absolute;
				right: 20px;
				top: 65px;

				width: 300px;

				background-color: #494b64;
				padding: 10px;

				border: 2px solid #515470;
				border-radius: 10px;

				button {
					margin: 0 0 5px 0;

					background-color: #494b64;
				}

				.left-navbar-mobile {
					display: none;
				}
			}
		}

		.left-navbar {
			position: absolute;

			width: 300px;
			height: calc(100vh - 75px);

			display: flex;
			align-items: center;
			justify-content: space-between;
			flex-direction: column;

			background-color: #43455c;

			border-top: 2px solid #5558773a;
			margin-top: 0;

			div {
				width: 100%;

				display: flex;
				align-items: center;
				flex-direction: column;

				button {
					width: 90%;

					display: flex;
					align-items: center;

					background-color: #43455c;
					font-size: 20px;
					text-align: left;

					padding: 10px;
					margin: 20px 0 10px 0;

					img {
						margin-right: 5px;
					}
				}

				.active {
					filter: brightness(1.2);
				}
			}
		}
	}
}

@media screen and (max-width: 720px) {
	.navbar {
		.top-navbar {
			.branding {
				p {
					display: none;
				}
			}
		}

		.left-navbar {
			display: none !important;
		}

		.navbar-menu-trigger,
		.navbar-menu {
			max-width: 50%;
		}

		.left-navbar-mobile {
			display: block !important;

			.active {
				filter: brightness(1.2);
			}

			hr {
				color: rgba(255, 255, 255, 0.171);
				border: 2px solid rgba(255, 255, 255, 0.171);
				border-radius: 5px;
			}
		}
	}
}
