.page {
	main {
		min-height: 100vh;
		width: 100%;

		display: flex;
		justify-content: center;
		align-items: center;

		.register-form {
			width: 20%;

			text-align: center;

			background-color: #3c3f58;
			filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.13));
			padding: 20px;

			border-radius: 10px;
			border: 2px solid #5558773a;

			p {
				color: rgba(255, 255, 255, 0.486);
			}

			h1,
			p {
				margin: 0;
			}

			input {
				width: calc(100% - 24px);

				color: white;

				padding: 10px;
				background-color: #3c3f58;

				border-radius: 10px;
				outline: none;
				border: 2px solid #5558773a;

				transition: all 0.2s ease-in-out;
				&:focus {
					border: 2px solid #3bba9c83;
				}
			}

			.register-button {
				width: 100%;

				padding: 10px;
				color: white;
				background-color: #3bba9c;

				border-radius: 10px;
				border: none;
				outline: none;
			}

			.activate-tfa-input {
				text-align: left;

				input {
					width: auto;
				}
			}
		}
	}

	.footer {
		position: absolute;
		bottom: 5px;
		left: 5px;
	}
}

@media screen and (max-width: 720px) {
	.page {
		main {
			.register-form {
				width: 85%;
				padding: 50px 10px 50px 10px;
			}
		}
	}
}
