@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

html,
body {
	margin: 0;
	font-family: "Montserrat", sans-serif;
    color: white;
    background-color: #2e3047;
}

a {
    color: #3bba9c;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}